<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About US</h2>
    <p class="text-zinc-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam cupiditate suscipit, accusantium veritatis voluptas tempora autem vitae explicabo non, beatae accusamus? A, tenetur? Eius ut molestias maxime nemo soluta.</p>
</section>