---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosostros">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque beatae similique porro possimus, dolor, fuga ipsum ipsam sequi voluptatem dolores. Ullam, libero sed quaerat repellat voluptates voluptate ipsa eos necessitatibus deserunt repudiandae doloremque vel. Reprehenderit assumenda ab nisi cupiditate repudiandae nostrum, eum labore neque iste aliquam inventore. Velit temporibus debitis, autem quo ducimus accusantium quod totam a facere magnam, animi nemo inventore, voluptatum reiciendis obcaecati blanditiis recusandae? Accusamus voluptatibus numquam, ex nulla dolore voluptatem corrupti vero rerum dolor, sit recusandae. Totam tenetur veniam cupiditate doloremque numquam dicta libero quod sit non eaque, tempora ipsam, molestias ullam nisi rerum dolorum, repudiandae eligendi a odit dolor vero cum? Itaque eligendi molestiae ut quis ullam dolor alias, dolores corporis praesentium omnis, dignissimos debitis quam vel rerum qui ab excepturi architecto perspiciatis. Possimus dicta laboriosam pariatur explicabo aperiam consequuntur deleniti id vel repellendus vero atque velit error animi est, ex perspiciatis hic dignissimos.</p>
</Layout >
