---
import Layout from "../layouts/Layout.astro";

// components

import Hero from "../componentes/landing/Hero.astro";
import Features from "../componentes/landing/Features.astro";
import More from "../componentes/landing/More.astro";
import Projects from "../componentes/landing/Projects.astro";
import About from "../componentes/landing/About.astro";
---

<Layout title = "Bienvenidos">
  <main>
    <Hero />
    <More />
    <Features />
    <Projects />
    <About />
  </main>
</Layout>
